/* Styles pour PropertyList - Organisé et bien aligné */

.property-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 30px;
  margin: 40px auto;
  max-width: 1200px;
  justify-content: center;
}

.property-item {
  border: 1px solid #ddd;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: whitesmoke;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.image-container {
  position: relative;
  width: 100%;
  height: 200px;
  overflow: hidden;
  border-radius: 8px;
}

.property-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.favorite-button {
  position: absolute;
  top: 10px;
  left: 10px;
  background-color: rgba(107, 105, 105, 0.8);
  border: none;
  border-radius: 50%;
  font-size: 15px;
  cursor: pointer;
  padding: 15px;
  width: 28px;
  height: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background 0.3s;
}

.favorite-button:hover {
  background-color: rgba(255, 255, 255, 1);
}

.property-item h3 {
  font-size: 1.2em;
  margin: 15px 0 5px;
}

.property-item p {
  margin: 5px 0;
  font-size: 14px;
  color: #555;
}

button {
  padding: 8px 12px;
  background-color: #007BFF;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
  font-size: 14px;
  transition: background 0.3s;
}

button:hover {
  background-color: #0056b3;
}